.App{
display: block;
}

body {
  background-color: rgba(132, 23, 211, 0.57);
}

.like-button{
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  transition: 10ms;
}

.like-button:hover{
  transform: scale(110%);
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    margin-bottom: 5%;
    /* position: relative; */
    /* width: 100%; */

}

.post-card{
  padding: 3%;
  background-color: rgba(232, 210, 255, 0.192);
  margin: 10px;
  width:  200px; 
  flex-direction: column;
  flex-grow: 1;

}

.tags{
  padding-right: 2%;
}


.searchbar{
  margin-top: 13px;
  border-radius: 15px;
  padding: 5px;
  border: transparent;
  margin-left: 10x;
  overflow: auto;
}

.buttons{
  margin-left: auto;
}


